#Contact {
    width: 100%;
    height: 800px;
    background: rgb(231,231,231);
    background: linear-gradient(90deg, rgba(231,231,231,1) 75%, rgba(187,187,187,1) 75%);}
    .fondo_contact {
    width: 600px;
    height: 400px;
    margin-top: 200px;
    margin-right: 200px;
    background-image: url(/images/contact-image.png);
    background-position: center;
    background-size: cover;
    float: right;
    }
    .text5 {
    width: 300px;
    font-family: $tipografia-poppins;
    font-size: 39px;
    margin-left: 200px;
    padding-top: 120px;
    }
    .formulario {
    width: 600px;
    margin-left: 200px;
    float: left;
        button {
        color: $color-primario;
        font-family: $tipografia-roboto;
        font-size: 16px;
        padding: 10px 54px;
        margin-top: 40px;
        background-color: $color-secundario;
        border: solid $color-secundario;
        border-radius: 25px;}
        input, textarea, button {
        margin: 5px 0;}
    }     
    
