$color-primario: #fff;
$color-secundario: #e0752f;
$color-terciario: #343434;
$color-cuaternario: #5F6368;
$color-quinario: #dce1da;
$tipografia-poppins: 'Poppins', sans-serif;
$tipografia-roboto: 'Roboto', sans-serif;
